@media (min-width: 36.75em) {
   main {
      display: grid;
      place-content: center;
      min-height: 97vh;
   }

   .product-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}
