@media (min-width: 44.28em) {
   main {
      display: grid;
      place-content: center;
   }

   .product-card {
      display: grid;
      grid-template-columns: 1fr 1fr;

      max-width: 42rem;
   }
}
