.product-card {
   border-radius: 0.75rem;
   margin-inline: auto;
   max-width: 30rem;

   background-color: var(--white);
   overflow: hidden;

   &__content,
   &__header,
   &__footer,
   &__price {
      display: grid;
   }

   &__content,
   &__header {
      gap: var(--spacing-md-2);
   }

   &__footer {
      gap: var(--spacing-md-2);
   }

   &__tag {
      color: var(--grey);
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 0.3rem;
   }

   &__title,
   &__current {
      font-family: "Fraunces", Arial, Helvetica, sans-serif;
      font-size: clamp(2.1rem, 1.43rem + 2.5vw, 2.3rem);
      font-weight: 700;
   }

   &__description {
      color: var(--grey);
      font-size: 1rem;
      line-height: 1.5rem;
   }

   &__content {
      padding: var(--spacing-lg);
   }

   &__price {
      grid-template-columns: auto 1fr;
      gap: var(--spacing-md-2);
      align-items: center;
   }

   &__current {
      color: var(--green-500);
      font-weight: 700;
   }

   &__original {
      color: var(--grey);
      font-size: 0.93rem;
   }

   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-sm);

      border: none;
      border-radius: 1rem;
      padding-block: var(--spacing-md-1);

      color: var(--white);
      font-weight: 600;

      background-color: var(--green-500);

      &:hover {
         background-color: var(--green-700);
      }
   }
}
